.card-tags {
    display: flex;
    gap: 15px;
    justify-content: start;

    .tag {
        font-style: italic;
        background: #525ceb;
        color: white;
        padding: 5px;
        border-radius: 8px;
        z-index: 99;
    }
}

@media (max-width: 768px) {
    .card-tags {
        font-size: 16px;
    }
}

@media (max-width:511px) {
    .col-xs {
        .card-tags {
            flex-direction: column;
            text-align: center;
            font-size: 12px;

            gap: 8px;
            margin-bottom: 25px;
        }
    }
}
